<div class="bg-gradient-to-r from-cyan-50 via-purple-50 to-pink-50">
  <div class="flex justify-center items-center h-screen">
    <div class="max-w-md w-full px-6">
      <h1 class="text-3xl font-semibold"><%= yield :title %></h1>
      <div class="bg-white rounded-lg mt-6 px-8 pt-6 pb-8 shadow-xl">
        <%= yield %>
      </div>
      <div class="mt-6 text-center">
        <%= yield :footer %>
      </div>
    </div>
  </div>
</div>
